<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Deployment</title>

     <style>
          h1{
               color:blueviolet;
               margin: auto;
               text-shadow: chartreuse 10px 6px;
               font-size: 100px;

          }
     </style>
</head>
<body>
     <h1>Hello World</h1>
     <p>
          Kobby ipsum dolor sit amet consectetur adipisicing elit.<br> 
          Placeat iusto aut reprehenderit nesciunt, accusamus<br> 
          consequuntur, nam dolorum necessitatibus ea dolorem nisi,<br> 
          dignissimos ipsum? Officiis dolor dignissimos adipisci,<br> 
          minus sequi sapiente?
     </p>
</body>
</html>